
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GCF 2021 Votation of Leaders - {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <script src="/static/js/all.min.js"></script>
  </head>

  <body>
      {% block body_content %}
      {% endblock %}
  </body>
</html>
