{% extends "layout.html"%}
{% block title %}Login{% endblock %}

{% block body_content %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="box column is-5-tablet is-4-desktop is-4-widescreen">
            <h1 class="title has-text-black"> Have your Passcode? </h1>
            <h2 class="subtitle has-text-black"> Fill up the information below to log in. </h2>
          <form action="" class="" method="POST">
            {{ form_login.hidden_tag() }}
            <div class="field">
              {{form_login.first_name.label(class="label")}}
              <div class="control">
                {{form_login.first_name(class="input", placeholder="")}}
              </div>
              {% for error in form_login.first_name.errors %}
                <div class="help is-danger">{{ error }}</div>
                {% endfor %}

            </div>
            <div class="field">
              {{form_login.last_name.label(class="label")}}
              <div class="control">
                {{form_login.last_name(class="input", placeholder="")}}
              </div>
              {% for error in form_login.last_name.errors %}
                <div class="help is-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="field">
              {{form_login.otp.label(class="label")}}
              <div class="control has-icons-left">
                {{form_login.otp(class="input", placeholder="*******")}}
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              {% for error in form_login.otp.errors %}
                <div class="help is-danger">{{ error }}</div>
                {% endfor %}
              <div class="is-size-7">Check your email inbox for your passcode. If you did not receive one, please contact election@gcf.org.ph for assistance.</div>
            </div>

            <div class="field">
                {{ form_login.submitlogin(class_="button is-success") }}
              <!-- <input class="button is-success" type="submit" value="Login"> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
